/* GENERAL */
body {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-background-color: #F8F9FA;
    --code-icon-color: #E06D59;
    --sidebar-background-color: #142335;
    --inside-navbar-background-color: #1648ad;
}

.wrapper {
    padding-top: 80px;
    height: 100vh;
    display: flex;
}

.img {
    max-width: 100%;
}

.secondary-img img{
    width: 50px;
}

/* SIDEBAR */

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 3px;
    width: 150px;
    border-radius: 5px;
}

.sidebar ul li:hover {
    background-color: gray;
}

.sidebar {
    background-image: url(img/sidebar-bg.png);
    background-color: var(--sidebar-background-color);
    width: 200px;
    height: 100%;
}

.sidebar i {
    height: 30px;
    width: 30px;
}

.side-nav-container {
    width: 14%;
}

/* NAVBAR */

nav {   
    position: fixed;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
}

.inside-nav {
    height: 80px;
    background-color: var(--inside-navbar-background-color);
}

/* MAIN */

.main {
    width: calc(100% - 200px);
    overflow-y: auto;
}

/* CARD */

.card {
    margin: 15px;
    position: static;
}

.card.header {
    position: static;
}

/* TABLE */

td {
    text-align: center;
}

.code-icon {
    height: 30px;
    width: 30px;
    background-color: var(--code-icon-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* BUTTON */

button {
    background-color: white;
}

/* MEDIA QUERIS */

@media all and (max-width: 992px) {

    .secondary-img {
        display: block;
    }

    .main-img {
        display: none;
    }
    
    .main {
        width: calc(100% - 50px);
    }

    .sidebar {
        width: 50px;
    }

    .link {
        display: none;
    }

    .side-nav-container {
        width: 5%;
    }

}

@media all and (max-width: 768px) {
    .inside-nav {
        height: 200px;
    }

    .first {
        margin-top: 135px;
    }
}


