* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

:root {
    --main-background-color: #F8F9FA;
    --code-icon-color: #E06D59;
    --inside
}

.wrapper {
    padding-top: 80px;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-image: url(img/sidebar-bg.png);
    width: 200px;
    height: 100%;
}

.main {
    width: calc(100% - 200px);
    overflow-y: auto;
}

.inside-nav {
    height: 80px;
    background-color: blue;
    
}

.card {
    margin: 15px;
}


.d-bug {
    border: 1px solid red;
}

/*  */
td {
    text-align: center;
}

.code-icon {
    height: 30px;
    width: 30px;
    background-color: var(--code-icon-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


