* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
}

:root {
    --main-background-color: #F8F9FA;
    --code-icon-color: #E06D59;
    --sidebar-background-color: #142335;
    --inside-navbar-background-color: #1648ad;
}

.wrapper {
    padding-top: 80px;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-image: url(img/sidebar-bg.png);
    background-color: var(--sidebar-background-color);
    width: 200px;
    height: 100%;
}

.main {
    width: calc(100% - 200px);
    overflow-y: auto;
}

.inside-nav {
    height: 80px;
    background-color: var(--inside-navbar-background-color);
}

.card {
    margin: 15px;
}

.d-bug {
    border: 1px solid red;
}

/*  */
td {
    text-align: center;
}

.code-icon {
    height: 30px;
    width: 30px;
    background-color: var(--code-icon-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

 .sidebar i {
    height: 30px;
    width: 30px;
}

.side-nav-container {
    width: 14%;
}

.img {
    max-width: 100%;
}

.secondary-img img{
    width: 50px;
}

button {
    background-color: white;
}

@media all and (max-width: 992px) {

    .secondary-img {
        display: block;
    }

    .main-img {
        display: none;
    }
    
    .main {
        width: calc(100% - 50px);
    }

    .sidebar {
        width: 50px;
    }

    .link {
        display: none;
    }

    .side-nav-container {
        width: 5%;
    }
}



